/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #FFF8F8;
}
/* Navbar */

.custom-navbar {
    max-height: 75px; /* Hauteur max */
    background-color: #0F7C35 !important; /* Vert Bootstrap */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0; /* Suppression du padding */
}

.nav-logo {
    height: 75px; /* Prend toute la hauteur */
    object-fit: contain; /* Garde les proportions sans déformation */
}

.container-fluid {
    padding-left: 0 !important; /* Supprime l’espace à gauche */
}

.navbar-nav .nav-link {
    font-size: clamp(18px, 2vw, 24px); /* Min 18px, s'ajuste avec l'écran, max 24px */
    font-weight: bold; /* Optionnel : un peu plus épais pour la lisibilité */
    color: #FFF8F8;
}

/* Assurer un bon padding entre les liens */
.navbar-nav .nav-item {
    padding: 0 10px; /* Espacement horizontal */
}

.nav-link:hover {
    color: #EE7E32; /* Couleur au survol à définir */
}

.custom-button-nav {
    background-color: #FFF8F8; /* Couleur de fond */
    color: #0F7C35; /* Couleur du texte */
    border-radius: 15px; /* Coins arrondis */
    font-weight: bold; /* Optionnel : un peu plus épais pour la lisibilité */
    font-size: clamp(18px, 2vw, 24px); /* Min 18px, s'ajuste avec l'écran, max 24px */
}

.custom-button-nav:hover {
    background-color: #ffffff; /* Couleur de fond */
    color: #000000; /* Couleur du texte */
}
